<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <!-- <div class="shadow"></div> -->
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            Salam Alikom ! my
            name is</p>
        <div class="name">
            <p class="p-name">Hamza SAHSAH<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            <p class="p-first">I am a software enginner & web developer & game developer </p>
            <p class="p-second">i'm currently building awesome stuff at <a
                    href="https://hamzaxsahsah.itch.io/">itch io</a>. you can
                find my <a href="https://drive.google.com/file/d/1fSyZBjonKnsPaGJsaohhtq8ArD5cVyH7/view?usp=sharing">resume here</a>.</p>
           
        </div>
    </div>
    <div class="column-two">
        <!-- <p class="temp">home works!</p>
        <div class="text">Orangeable</div> -->
        <!-- <div #elem class="parallax"></div> -->
    </div>
</div>